*{
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
}

body {
    background: black;
    color: #333333;
    margin-top: 20px;
    
}

.container {
    display: block;
    width: 400px;
    margin: 0 auto;
}

ul {
    margin: 0;
    padding: 0;
}